body
{
    font-family: 'Segoe UI', sans-serif;
    background: #111111;
}


#gameContainer
{
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: none repeat scroll 0 0 #ffffff;
    height: 416px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    width: 320px;
    cursor: none;
}


span {
    font-style: italic
}